title: Open.Cloud - a sharing mindset
description: > # this means to ignore newlines until "baseurl:"
  Open.Cloud webpage - where ideas grow, revolution starts
permalink: ':title/'
baseurl: # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
site-twitter: #if your site has a twitter account, enter it here

# Author Settings
author: Open.Cloud # add your name
author-img: t-notch.png # add your photo
about-author: "Idea planted by one, grows with thoudsands and become reality with millions" # add description
location: "Belgium - Sol III"
social-twitter: tnotchbot# add your Twitter handle
social-facebook:  # add your Facebook handle
social-github: t-notch # add your Github handle
social-linkedin: tienthanh # add your Linkedin handle
social-email: t.notch@zoho.eu # add your Email address

# Disqus
# discus-identifier: t-notch # add your discus identifier

# Tracker
analytics: # Google Analytics

# Build Settings
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  
plugins:
  - jekyll-sitemap
  - jekyll-paginate
  - jemoji

paginate: 8
paginate_path: "/page/:num"

exclude: ["node_modules", "gulpfile.js", "package.json", "yarn.lock"]
